/*.loaded {
  .main-wrapper {
    display: none;
  }

  .icon-load {
    display: block;
  }
}*/

.preload-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  z-index: 1000;
}

.icon-load {
  //display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: $main-first-color-custom;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.section-title {
  margin: 0 0 4px;
  color: inherit;
  font-size: 44px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.form {
  &-group {
    position: relative;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .btn {
      position: absolute;
      top: 4px;
      right: 4px;
    }
  }
  &-control {
    height: auto;
    padding: 20px 16px;
    background: #201A4F;
    border: none;
    color: var(--white);
    
    &:focus {
      background: #4A3BB3;
      color: var(--white);
    }
  }
  &-text {
    margin-top: 12px;
    color: rgba(255, 255, 255, .3);
  }
}

.btn {
  &.btn {
    padding: 16px 24px;

    &-sm {
      border-radius: 3px;
      padding: 11px 24px;
      font-weight: 500;
    }

    &-primary {
      box-shadow: 0 0 4px 0 $primary;
      &:hover {
        color: var(--white);
      }
    }
    &-outline {
      &-primary {
        background-color: rgba(87, 225, 255, 0.2);
        border-width: 2px;
        box-shadow: 0 0 4px 0 $primary;

        &:hover {
          color: var(--white);
        }
      }
    }
  }
}

.ui {
  &-tabs {
    padding: 0;

    .ui-tabs {
      &-nav {
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        background: rgba(#6a54ff, .4);
        border-radius: 4px;
        padding: 4px;
        margin: 0 0 44px;

        .ui-tabs-anchor {
          min-width: 200px;
          padding: 8px 24px;
          border-radius: 4px;
          color: rgba(#57e1ff, .8);
          text-align: center;
          text-transform: uppercase;
        }

        li {
          margin: 0;
          font-size: 24px;
          font-weight: 500;
          &:not(:last-child) {
            margin-right: 4px;
          }

          &.ui-tabs-active {
            .ui-tabs-anchor {
              background: #57e1ff;
              color: var(--black);
            }
          }
        }
      }
      &-panel {
        padding: 0;
      }
    }
  }

  &-selectmenu {
    &-button {
      &.ui-button {
        width: auto;
      }

      &-closed {}
      &-open {
        .ui-selectmenu-icon {
          transform: rotate3d(1, 0, 0, 180deg);
        }
      }
    }

    &-icon {
      order: 2;
      width: 24px;
      height: 24px;
      background: url(../img/chevrone-down.svg) no-repeat center center;
    }

    &-text {
      order: 1;
    }
  }

  &-button {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 4px;
    background: rgba(#ffffff, .2);
    border-radius: 4px;
    padding: 8px;
    margin: 0;
  }

  &-menu {
    background: rgba(#000000, .8);
    border-radius: 4px;
    padding: 8px;
  }
}