/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  width: 100%;
  min-width: 320px;
}

.section-decor {
  &::before {
    content: '';
    display: flex;
    width: 45%;
    height: 60px;
    margin-bottom: -1px;
    background: var(--white);
    clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
  }
}

/* WELCOME */
.section-welcome {
  padding: 40px 0;
}

.welcome {
  &__title {
    margin: 0 0 12px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__subtitle {
    width: 89%;
    margin: 0 0 24px;
    color: #e7f7f8;
  }
  &__form {
    max-width: 500px;
    width: 100%;

    input {
      background: #201a4f;
    }

    &-btn {
      position: absolute;
      top: 4px;
      right: 4px;
    }
  }

  &-pic {
    display: block;
    margin: 0 0 33px;

    img {
      max-width: 100%;
    }
  }
}

/* NUMBERS */
.section-numbers {
  .container-wrapper {
    background: var(--white);
    color: var(--black);
    padding: 24px 0 48px;
  }
}

.numbers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  &__head {
    flex: auto 1 1;
    max-width: 25%;
  }
  &__title {}
  &__subtitle {}
  &__content {
    flex: auto 1 1;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  &__item {
    max-width: 25%;
    &-name {
      margin: 0 0 8px;
      opacity: .8;
      font-size: 14px;
      text-transform: uppercase;
      white-space: nowrap;
    }
    &-num {
      color: #6a54ff;
      font-size: 60px;
      font-weight: 500;
    }
  }
}

/* TRANSACTIONS */
.section-transactions {
  padding: 96px 0 118px;
}

.transactions {
  &__head {
    margin: 0 0 72px;
  }
  &__title {}
  &__subtitle {
    &::before {
      content: '';
      display: inline-block;
      width: 7px;
      height: 7px;
      background: #35ff9e;
      border-radius: 100%;
    }

    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 4px;
    color: #35ff9e;
  }
  &__content {
    .swiper {
      &-slide {
        max-width: 300px;
      }
      &-scrollbar {
        &-wrapper {
          max-width: 955px;
          width: 80%;
          margin: 24px auto 0;
        }

        height: 6px;
        background: #434f70;

        &-drag {
          height: 6px;
          background: #6073a1;
        }
      }
    }
  }
  &__block {
    position: relative;
    display: flex  ;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    background: #6a54ff;
    border-radius: 4px;
    max-width: 300px;
    padding: 16px;
    clip-path: polygon(0% 0%, 90% 0%, 100% 16%, 100% 100%, 0% 100%);
    z-index: 1;

    &-decor {
      position: absolute;
      top: 8px;
      right: -52px;
      opacity: .13;
      z-index: -1;

      img {}
    }
    &-head {
      margin: 0 0 48px;
    }
    &-name {
      margin: 0 0 2px;
      font-size: 20px;
    }
    &-time {
      color: rgba(#ffffff, .4);
      font-size: 14px;
    }
    &-content {
      margin: 0 0 9px;
    }
    &-profit {
      margin: 0 0 2px;
      color: rgba(#ffffff, .7);
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }
    &-profit-count {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      gap: 6px;
      margin: 0;
      color: #35ff9e;
      font-size: 28px;
      font-weight: 500;

      svg {
        width: 17px;
        height: 17px;
        fill: #35ff9e;
      }
    }
    &-footer {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
    }
    &-target {
      color: rgba(#ffffff, .7);
      font-size: 14px;
    }
    &-time-entry {
      color: rgba(#ffffff, .4);
    }
  }
}

.main-slider {

}

/* COMPANY */
.section-company {
  .container-wrapper {
    background: var(--white);
    padding: 56px 0 92px;
    color: var(--black);
  }
}

.company {
  &-info {
    &__title {
      margin: 0 0 40px;
    }
    &__text {
      &:not(:last-child) {
        margin: 0 0 20px;
      }

      margin: 0;
      color: rgba(#000000, .8);
      font-size: 14px;
    }
  }
  &-form {
    width: 100%;
    background: #6a54ff;
    padding: 32px 64px 40px;

    &__text {
      margin: 0 auto 32px;
      color: var(--white);
      font-size: 28px;
      font-weight: 500;
      text-align: center;
      white-space: pre-line;
    }

    &__input-wrap {
      max-width: 500px;

      input {
        background: #4a3bb3;
      }
    }
  }
}

/* TARIFFS */
.section-tariffs {
  padding: 96px 0;
}

.tariffs {
  &__title {
    margin: 0 0 40px;
  }
}

.tariff {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  gap: 20px;


  &__card {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    max-width: 413px;
    width: 50%;
    min-height: 556px;
    border: 1px solid #6a54ff;
    border-radius: 4px;

    &.vip {
      background: #6a54ff;
    }

    &-head {
      padding: 24px 24px 0;
      margin: 0 0 56px;
    }
    &-name {
      margin: 0;
      font-size: 32px;
      font-weight: 500;
      text-transform: uppercase;
    }
    &-list {
      padding: 0;
      margin: 0 0 40px;

      li {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        gap: 8px;
        padding: 8px 24px;
        border-bottom: 1px dashed rgba(#ffffff, .2);

        svg {
          flex: auto 0 0;
          width: 12px;
          height: 12px;
          margin-top: 4px;
          fill: var(--white);
        }
      }
    }
    &-footer {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      padding: 0 24px 24px;
      margin-top: auto;
    }
    &-price {
      font-size: 35px;
      font-weight: 500;

      &::after {
        content: attr(data-discount);
        margin-left: 4px;
        vertical-align: super;
        color: #35ff9e;
        font-size: 18px;
        font-weight: 500;
      }
    }
    &-form {}
    &-btn {
      padding: 8px 24px;
      margin-top: 24px;
      color: #030718;
      font-size: 16px;
      font-weight: 500;

      span {
        display: block;
        color: #030718;
        opacity: .56;
        font-size: 12px;
      }
    }
  }
}

/* FAQ */
.section-faq {
  background: var(--white);
  color: var(--black);
  padding: 96px 0;
}

.faq {
  &__title {
    margin: 0 0 64px;
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    gap: 12px;
  }
  &__item {
    background: #eaeff0;
    padding: 16px;
    transition: $transition-base;

    &.active {
      background: #6a54ff;
      color: var(--white);

      .faq__item {
        &-button {
          fill: var(--white);
          transform: rotate3d(1, 0, 0, 180deg);
        }
      }
    }


    &-head {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
    }
    &-name {
      margin: 0;
      font-size: 24px;
      font-weight: 500;
    }
    &-button {
      width: 24px;
      height: 24px;
      fill: #030718;
      transition: $transition-base;
    }
    &-body {
      display: none;
    }
    &-text {
      margin: 12px 0 0;
      white-space: pre-line;
    }
  }
}

/* MEDIA CONTENT */
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {
  .section-welcome {
    padding: 160px 0 134px;
  }

  .welcome {
    &__title {
      font-size: 60px;
    }

    &-pic {
      margin: 0;
    }
  }

  .section-numbers {
    .container-wrapper {
      padding: 65px 0 61px;
    }
  }
}
@include media-breakpoint-up(xxl) {}